div {
 width: 150px;
 height: 60px;
 top:500px;
 right: 134px;
 position: absolute;
 background: tomato;
 border-radius: 12%;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: 9999999999999;
 animation-name: play;
}
@keyframes play {
  0% {
    width: 150px;
    height: 60px;
  }
  30% {
    height: 64px;
  width: 154px;
  }
  50% {
    height: 60px;
  width: 150px;
 }
  }
.playgametext {
  position: absolute;
  top: 520px;
  right: 190px;
  font-family: "Monospace";
   animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: 9999999999999;
}
.logo {
   position: absolute;
   width: 90%;
   right: 23px;
   top: 240px;
}
body {
background-image: url("https://media.discordapp.net/attachments/888123617534152726/956519451149344790/images.jpeg");
}
.back {
  width: 10%;
  display: none;
}
.pts {
  display:none;
  width: 10%;
}
